*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FAFAFA;
    font-family: sans-serif;
}

.navbar{
    height: 80px;
    background-color: #fff;
}

.navbar .menu-bar{
    position: absolute;
    top: 30px;
    left: 29px;
}

.navbar .header-logo{
    position: absolute;
    top: 25px;
    left: 72px;
}

.navbar .search-icon{
    position: absolute;
    top: 35px;
    left: 291px;
    width: 16px;
    height: 16px;
}

.navbar .search{
    position: absolute;
    top: 35px;
    left: 16.5vw;
    font-size: 16px;
}

.navbar .notification-icon{
    position: absolute;
    top: 35px;
    left: 80vw;
}

.navbar .profile{
    position: absolute;
    top: 25px;
    left: 85vw;
}

.navbar .john{
    position: absolute;
    top: 35px;
    left: 88vw;
    font-size: 21px;
}

.navbar .download-arrow{
    position: absolute;
    top: 38px;
    left: 95vw;
}

.sidebar{
    height: 90vh;
    width: 14vw;
    background: #fff;
}

.dashboard, .analysis, .inbox, .history, .users, .maintenance, .setting{
    position: absolute;
    left: 2vw;
    display: flex;
    gap: 10px;
    padding-left: 25px;
    align-items: center;
    width: 183px;
    height: 43px;
    
}

.dashboard{
    top: 12vh;
    background: #FFF3F4;
}

.sidebar .dashboard img, .analysis img, .inbox img, .history img, .users img, .maintenance img, .setting img{
    height: 20px;
    width: 20px;
}

.sidebar .dashboard p, .analysis p, .inbox p, .history p, .users p, .maintenance p, .setting p{
    font-size: 18px;
}

.analysis{
    top: 18vh;
}

.inbox{
    top: 24vh;
}

.history{
    top: 30vh;
}

.users{
    top: 36vh;
}

.maintenance{
    top: 42vh;
}

.setting{
    top: 48vh;
}

.main .heading{
    position: absolute;
    top: 12vh;
    left: 17vw;
    font-size: 30px;
}

.main .items{
    position: absolute;
    top: 20vh;
}

.main .items .new-products, .added-products, .total-products, .today-sale, .total-sale{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 13vh;
    width: 13vw;
    background: #fff;
    border-radius: 5px;
}

.total-products img{
    height: 50px;
    width: 50px;
}

.main .items .new-products{
    left: 20vw;
}

.main .items .added-products{
    left: 35vw;
}

.main .items .total-products{
    left: 50vw;
}

.main .items .today-sale{
    left: 65vw;
}

.main .items .total-sale{
    left: 80vw;
}

.main .text .figure{
    font-size: 25px;
    color: #3E3E3E;
}

.sale{
    position: absolute;
    top: 38vh;
    left: 20vw;
    background-color: #fff;
    height: 50vh;
    width: 50vw;
}

.sale .top .heading, .country-sale .heading, .listing .heading{
    position: absolute;
    top: 3vh;
    left: 2vw;
    font-size: 22px;
    color: #3E3E3E;
}

.sale .top .timeline{
    position: absolute;
    top: 3.5vh;
    left: 35vw;
    display: flex;
    gap: 25px;
    font-size: 15px;
    color: #ADADAD;
}

.sale .graph{
    position: absolute;
    top: 10vh;
    left: 2vw;
    width: 42vw;
}

.sale .top .timeline .yearly{
    color: #C8242F;
}

.sale .top .timeline .line{
    position: absolute;
    top: 3vh;
    left: 8vw;
    background-color: #C8242F;
    height: 2px;
    width: 40px;
}

.country-sale{
    position: absolute;
    top: 38vh;
    left: 72vw;
    background-color: #fff;
    height: 50vh;
    width: 21vw;
}

.country-sale .pie-chart{
    position: absolute;
    top: 10vh;
    left: 4vw;
}

.country-sale .country .col-1, .country-sale .country .col-2{
    position: absolute;
    display: flex;
    gap: 20px;
}

.country-sale .country .col-1{
    top: 35vh;
}

.country-sale .country .col-2{
    top: 40vh;
}

.country-sale .country .col-1 .name-1, .country-sale .country .col-1 .name-2, .country-sale .country .col-2 .name-1, .country-sale .country .col-2 .name-2{
    display: flex;
    margin-left: 40px;
}

.country-sale .country .col-1 .name-1 .red, .country-sale .country .col-1 .name-2 .green, .country-sale .country .col-2 .name-1 .orange, .country-sale .country .col-2 .name-2 .yellow{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.country-sale .country .col-1 .name-1 .red{
    background: #C8242F;
}

.country-sale .country .col-1 .name-2 .green{
    background: #A2B86C;
}

.country-sale .country .col-2 .name-1 .orange{
    background: #F16C20;
}

.country-sale .country .col-2 .name-2 .yellow{
    background: #EBC844;
}

.country-sale .country .col-1 .name-1 .text{
    font-size: 15px;
}

.country-sale .country .col-2 .name-2{
    margin-left: 8.1vw;
}

.listing{
    position: absolute;
    top: 95vh;
    left: 20vw;
    background: #fff;
    height: 70vh;
    width: 73vw;
}

.listing table{
    position: absolute;
    top: 10vh;
    left: 1.5vw;
}

table {
    border-collapse: collapse;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  tr{
    border-bottom: 2px solid #e9e9e9;
    font-size: 15px;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }

  th{
    color: #ADADAD;
    text-transform: uppercase;
  }

  #paid{
    color: #3CDD5F;
    /* text-align: center; */
    /* background: #EBFFEF; */
  }

  #failed{
    color: #FF4545;
  }

  #pending{
    color: #BABABA;
  }